* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard";
  overflow: auto !important;
}

body {
  margin: 0;
  color: #0b0d00;
  font-family: "Pretendard";
}

.keep-all {
  word-break: keep-all;
}

h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.96px;
}

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}

strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}

small {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
}
